<div class="game-list">
  {{#each games}}
  <a href="http://store.steampowered.com/app/{{app.id}}">
    <div class="game">
      <h3 class="name">{{app.name}}</h3>
      <img class="logo" src="{{app.logo}}"/>
      <span class="description">{{app.desc}}</span>
      <a href="http://store.steampowered.com/app/{{app.id}}">
        <button class="btn primary">Show</button>
      </a>
    </div>
  </a>
  {{/each}}
</div>
