<div class="game-list">
  {{#each games}}
  <a href="http://store.steampowered.com/app/{{id}}" target="_blank">
    <div class="game">
      <h3 class="name">{{name}}</h3>
      <img class="logo" src="{{logoUrl}}"/>
      <a href="http://store.steampowered.com/app/{{id}}" class="show-btn" target="_blank">
        <button class="btn primary">Show</button>
      </a>
    </div>
  </a>
  {{else}}
    <div class="no-recommendations">
      We currently don't have recommendations for you, please come back later!
    </div>
  {{/each}}
</div>
