<div class="game-list">
  {{#each games}}
    <div class="game">
      <h3 class="name">{{name}}</h3>
      <div class="genre-list">
        {{#each Genres}}
          <a class="genre" href="{{domain}}/games?genre={{id}}">
            {{name}}
          </a>
        {{/each}}
      </div>
      <img class="logo" src="{{logoUrl}}"/>
      <div class="game-footer">
        <span class="price">{{formatPrice price}}</span>
        <a href="http://store.steampowered.com/app/{{id}}" class="show-btn" target="_blank">
          <button class="btn primary">Show</button>
        </a>
      </div>
    </div>
  {{else}}
    <div class="no-recommendations">
      We currently don't have recommendations for you, please come back later!
    </div>
  {{/each}}
</div>
<div class="pagination">
  {{#if prevPage}}
  <a href="{{domain}}/games?page={{prevPage}}">
    <button class="btn">Previous page</button>
  </a>
  {{/if}}
  <a href="{{domain}}/games?page={{nextPage}}">
    <button class="btn">Next page</button>
  </a>
</div>
